{% extends "layout.html" %}
{% block content %}

        <form method="POST" action="">
        {{ form.hidden_tag() }}
         </fieldset>
            <div class="form-group">
              
                    {{ form.username.label }}
                    {{ form.username(class="form-control") }}
                    {{ form.email.label }}
                    {{ form.email(class="form-control") }}
                    {{ form.password.label }}
                    {{ form.password(class="form-control") }}
                    {{ form.confirm_password.label }}
                    {{ form.confirm_password(class="form-control") }}
             </div>
         </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>            

{% endblock content %}