{% extends "layout.html" %}
{% block content %}
    <form method="POST" action="">
        {{ form.hidden_tag() }}
         <fieldset>
            <div class="form-group">
                    {{ form.isbn.label }}
                    {{ form.isbn(class="form-control") }}
                    {% if res %}
                        {{ res.title}}
                        {{ res.author}}
                   {% endif %}
            </div>
          
           <div class="form-group">
            <thread>
                {% if book %}
                    <p>
                    {{ book['description'] }}
                    </p>
                    <p>
                    {{ book['average_rating'] }}
                    </p>
                    {{ book['isbn13']}}
                    <p>
                    {{ book['image_url']}}
                    </p>
                    <img src =  {{ book['image_url']}} width=30% >
                    
                {% endif %}
            </thread>
           </div>
         </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
    </form>  
{% endblock content %}